/*"styles for my resume"*/
body {
  font-size: 12px;
  font-family: 'open sans', Arial, sans-serif;
  color:#444;
}

ul, p {
  font-weight: 300;
}

#top {
margin: 0px 0px 35px 0px;
}

#name {
  font-size: 4em;
  text-align: center;
  width: 60%;
  min-width: 300px;
  margin:5px auto;
  border-bottom: 1px solid #FDB020;
}

#bottom {
  margin: 0px 0px 0px 10px;
}

#experience {
  margin: 0px 0px 20px 0px;
}

.sectionheader {
  font-size:1.5em;
  text-transform:uppercase;
  color: rgba(255,255, 255, 1);
  background-color: #d1d1d1;
  margin: 0px 0px 10px 0px;
  text-align:center;
  width:30%;
  min-width: 150px;
  border-bottom: 1px solid #FDB020;
}

.jobtitle {
  font-size:1.3em;
  font-weight:600;
}

.organization {
   font-size:1.5em;
   font-weight:300;
 }

.date {
  font-style: italic;
  font-size:12px;
  margin: 2px 0px 0px 0px;
}

.menu {
  font-size:1.10em;
  margin:0px;
  padding:0px;
  text-align: center;
}

.menu li {
  display:inline;
}


.discription {
  margin: 10px 0px 0px 0px;
}

#degrees {
  margin: 5px 0px 0px 0px;
}

#do {
  margin:5px 0px 0px 0px;
}
.job {
  margin: 0px 0px 15px 0px;
}

.education {
  margin: 0px 0px 20px 0px;
}

.skills {
  margin:0px 0px 20px 0px;
}
