/*"styles for my resume"*/
body {
  font-size: 12px;
  font-family: 'open sans', Arial, sans-serif;
  color:#444;
  margin:0px auto;
  padding:0px auto;
}

ul, p {
  font-weight: 300;
}

#top {
  margin: 0px 0px 35px 0px;
  padding: 0px 0px 10px 0px;
  background-color:#FFFFFF;
  width: 100%;
  position: fixed;
  z-index: 1;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}

#name {
  font-size: 4em;
  text-align: center;
  width: 60%;
  min-width: 300px;
  margin:5px auto;
  border-bottom: 1px solid #FDB020;
}

#bottom {
  margin: 0px auto 0px auto;
  position: relative;
  width:95%;
  top: 120px;
  height: auto;
  overflow: auto;
  }

.sectionheader {
  font-size:1.5em;
  text-transform:uppercase;
  color: rgba(255,255, 255, 1);
  background-color: #d1d1d1;
  margin: 7px 0px 10px 0px;
  text-align:center;
  width:30%;
  min-width: 150px;
  border-bottom: 1px solid rgba(253,176,32, 0.4);
  float: left;

}

.jobtitle {
  font-size:1.3em;
  font-weight:600;
  text-align: center;
}

.organization {
  font-size:1.5em;
  font-weight:300;

 }

.date {
  font-style: italic;
  font-size:12px;
  margin: 2px 0px 0px 0px;
}

.menu {
  font-size:1.10em;
  margin:0px;
  padding:0px;
  text-align: center;
  color: #444;
}

.menu li {
  display:inline;
}

.menu a {
  text-decoration: none;
  color: #444;
}

.discription {
  margin: 10px 0px 0px 0px;
}

.degrees, .do {
  margin: 5px 0px 0px 4%;
  float: left;
  width:60%;
  -webkit-padding-start: 21px;
  border-left: 1px solid rgba(253,176,32, 0.3);

}

.degrees li, .do li {
  margin: 0px 0px 3px 0px;
}
.job {
  margin: 0px 0px 15px 0px;

}
.alljobs {
  width: 60%;
  float: left;
  margin: 0px 0px 0px 4%;
  border-left: 1px solid rgba(253,176,32, 0.3);
  padding: 0px 0px 0px 20px;

}
#experience, #education, #skills {
  margin: 0px auto 20px auto;
  padding: 10px 10px 10px 10px;
  width: 90%;
  height: auto;
  overflow: auto;
  border: 1px solid #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

ul {
  list-style: none;
}
.bolding {
font-weight: 600;
}

/*this is x-small devices, mobile devices*/
@media only screen  and (max-width:767px) {
  #name {
    font-size:3em;
  }
  #top {
  position: relative;
  }
  #bottom {
  top:0px;
  }
  .alljobs {
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-left: none;
  width:100%;
  clear: right;
  }
  .sectionheader {
  margin: 10px auto 15px auto;
  padding: 5px 10px 5px 10px;
  width: 97%;
  min-width: 0;
  text-align: center;
  }
  .degrees, .do, li {
  margin:15px 2% 0px 2%;
  padding: 0px 20px 0px 20px;
  width:100%;
  float:none;
  border-left: none;
  -webkit-padding-start:0px;
  }
  #education, #experience, #skills {
    overflow-x: hidden;
  }
}
/* this is small device, tablets*/
@media only screen and (min-width:768px) and (max-width:991px) {
  #name {
  font-size: 3.6em;
  }
}

/*this is medium devices, desktops*/
@media only screen and (min-width:992px) and (max-width:1199px){
  #name {
  font-size: 3.9em;
  }
}

/*this is large devices, desktops*/
@media only screen and (min-width:1200px) {
  #experience {
  width: 60%;
  float:right;
  overflow-x: hidden;

  }
  #education, #skills {
  width:35.5%;
  float:left;
  overflow-x: hidden;
  }
  .degrees, .do {
  margin: 15px 2% 0px 2%;
  width:100%;
  float: none;
  -webkit-padding-start: 0px;
  border-left: none;
  }
  .sectionheader {
  margin: 7px auto 15px auto;
  padding: 5px 10px 5px 10px;
  width:97%;
  min-width: 0px;
  clear: left;
  }
  .alljobs {
  width: 100%;
  float: none;
  margin: 0px 0px 0px 0px;
  border-left: none;
  padding: 0px 10px 10px 10px;
  }
}
